# Testing
coverage==7.2.7                  # Test coverage
ruff==0.0.272                    # Python linter

# Types
mypy==1.3.0                      # Type checking
types-beautifulsoup4==4.12.0.5   # Type stubs for beautifulsoup4 package
types-python-dateutil==2.8.19.13 # Type stubs for dateutil package
types-python-slugify==8.0.0.2    # Type stubs for python-slugify package
types-requests==2.31.0.0         # Type stubs for requests package
