# Testing
coverage==7.1.0                  # Test coverage
flake8==6.0.0                    # Python linting

# Types
mypy==0.991                      # Type checking
types-beautifulsoup4==4.11.6.1   # Type stubs for beautifulsoup4 package
types-python-dateutil==2.8.19.4  # Type stubs for dateutil package
types-python-slugify==7.0.0.1    # Type stubs for python-slugify package
types-requests==2.28.11.5        # Type stubs for requests package
