<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/bundle.min.css') }}" />
    <meta name="description" content="Track events at the San Francisco Chase Center">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.chasecentercalendar.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Chase Center Calendar">
    <meta property="og:description" content="Track events at the San Francisco Chase Center">
    <meta property="og:image" content="https://www.chasecentercalendar.com/static/img/favicon/android-chrome-512x512.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="chasecentercalendar.com">
    <meta property="twitter:url" content="https://www.chasecentercalendar.com/">
    <meta name="twitter:title" content="Chase Center Calendar">
    <meta name="twitter:description" content="Track events at the San Francisco Chase Center">
    <meta name="twitter:image" content="https://www.chasecentercalendar.com/static/img/favicon/android-chrome-512x512.png">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/favicon/manifest.json') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
    <link rel="preconnect" href="https://api.segment.io">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand mb-0 h1" href="/">Chase Center Calendar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('handlers.ical_view') }}">iCal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('handlers.oracle_park') }}">Oracle Park</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('handlers.about') }}">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="main">
        {% block content %}{% endblock %}
      </div>
      <footer id="footer">
        {% block footer %}
          &copy; by <a href="https://www.albertyw.com/">Albert Wang</a>.
        {% endblock %}
      </footer>
    </div>
    <script src="{{ url_for('static', filename='gen/bundle.min.js') }}"></script>
  </body>
</html>
