{% extends "includes/base.htm" %}
{% block title %}About - Chase Center Calendar{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>
    About Chase Center Calendar
  </h1>
  <div>
    <p>
      I started this website to track events at the San Francisco Chase Center.
      Although I have no interest in attending Chase Center events, I work in
      the area and need to be aware of events that may impact my commute.
      Although farther away, Oracle Park also has many events that bring a lot
      of traffic to the area.
    </p>
    <p>
      Data for Chase Center events are from <a href="https://chasecenter.com">chasecenter.com</a>.<br />
      Data for Oracle Park events are from <a href="https://dothebay.com/venues/oracle-park/events">DoTheBay</a>.<br />
      Calendar embedding is from <a href="https://calendar.google.com/">Google Calendar</a>.
    </p>
    <p>
      This website has no relationship with the <a href="https://chasecenter.com/">San Francisco Chase Center</a>,
      <a href="https://www.mlb.com/giants/ballpark">Oracle Park</a>, <a href="https://dothebay.com/">DoTheBay</a>,
      nor  <a href="https://www.uber.com/">Uber</a>.  All trademarks are property of their respective owners.
    </p>
    <p>
      Contribute to this website on <a href="https://github.com/albertyw/chase-center-calendar">Github</a>.
    </p>
    <p id="logos">
      <img src="{{ url_for('static', filename='img/chase.png') }}" />
      <img src="{{ url_for('static', filename='img/uber.png') }}" />
    </p>
  </div>
{% endblock %}
