{% extends "includes/base.htm" %}
{% block title %}About - Chase Center Calendar{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>
    About Chase Center Calendar
  </h1>
  <div>
    <p>
      I started this website to track events at the San Francisco Chase Center.
      Although I have no interest in attending Chase Center events, I work in
      the area and need to be aware of events that may impact my commute.
    </p>
    <p>
      This website has no relationship with the <a href="https://chasecenter.com/">San Francisco Chase Center</a>
      nor with <a href="https://www.uber.com/">Uber</a>.  All trademarks are property of their respective owners.
    </p>
    <p>
      Contribute to this website on <a href="https://github.com/albertyw/chase-center-calendar">Github</a>.
    </p>
    <p id="logos">
      <img src="{{ url_for('static', filename='img/chase.png') }}" />
      <img src="{{ url_for('static', filename='img/uber.png') }}" />
    </p>
  </div>
{% endblock %}
