{% extends "includes/base.htm" %}
{% block title %}Chase Center Calendar - Chase Center{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div>
    <h1>Chase Center Calendar</h1>
    <div id="events">
      {% for event in events %}
        <div class="event">
          <h2>{{ event.title }}</h2>
          <h3>{{ event.date.strftime('%A %Y-%m-%d') }} {{ event.date.strftime('%I:%M %p') }} - {{ event.end.strftime('%I:%M %p') }}</h3>
          {% if event.subtitle %}
            {{ event.subtitle }}<br />
          {% endif %}
          {% if event.location_name %}
            {{ event.location_name }}<br />
          {% endif %}
          {% if event.location_type %}
            {{ event.location_type }}<br />
          {% endif %}
        </div>
      {% else %}
        <p>No upcoming events.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
