{% extends "includes/base.htm" %}
{% block title %}iCal - Chase Center Calendar{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div>
    <h1>iCalendar</h1>
    <div id="info">
      <p>
        The calendar is available in the iCal format so it can be loaded into Google Calendar, Apple Calendar, etc.
      </p>
      <h2>Chase Center</h2>
      <p>
        Import this URL into your calendar app for Chase Center events:
        <pre>{{ url_for('handlers.ical_file', _external=True) }}</pre>
      </p>
      <p>
        Alternatively, you can download the calendar but you will not be able to automatically synchronize updates:<br />
        <a href="{{ url_for('handlers.ical_file') }}">Download Chase Center Non-Synchronized Calendar</a>
      </p>
      <h2>Oracle Park</h2>
      <p>
        Import this URL into your calendar app for Oracle Park events:
        <pre>{{ url_for('handlers.oracle_park_ics_file', _external=True) }}</pre>
      </p>
      <p>
        Alternatively, you can download the calendar but you will not be able to automatically synchronize updates:<br />
        <a href="{{ url_for('handlers.oracle_park_ics_file') }}">Download Oracle Park Non-Synchronized Calendar</a>
      </p>
    </div>
  </div>
{% endblock %}
