{% extends "includes/base.htm" %}
{% block title %}Chase Center Calendar{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div>
    <h1>Chase Center Calendar</h1>
    <div class="embed-calendar">
      <iframe src="https://calendar.google.com/calendar/u/0/embed?height=600&wkst=1&ctz=America/Los_Angeles&mode=AGENDA&title=Chase+Center+Calendar&showCalendars=0&src=aTVuYzU1ZGNxZnBuc3B0dWVqMG5jbGRvNGpnb3RxdTBAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F4511E" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <h1>Oracle Park Calendar</h1>
    <div class="embed-calendar">
      <iframe src="https://calendar.google.com/calendar/u/0/embed?height=600&wkst=1&ctz=America/Los_Angeles&mode=AGENDA&title=Oracle+Park+Calendar&showCalendars=0&src=bDg3Y25wN2QyYzhwcjk1amE5MWo5a25jZzMxNDQyM3NAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F4511E" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
{% endblock %}
