{% extends "includes/base.htm" %}
{% block title %}Chase Center Calendar - Oracle Park{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div>
    <h1>Oracle Park Calendar</h1>
    {#
      <iframe src="https://calendar.google.com/calendar/u/0/embed?height=600&wkst=1&ctz=America/Los_Angeles&mode=AGENDA&title=Oracle+Park+Calendar&showCalendars=0&src=bDg3Y25wN2QyYzhwcjk1amE5MWo5a25jZzMxNDQyM3NAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F4511E" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    #}
    <div id="events">
      {% for event in events %}
        <div id="event">
          <h2>{{ event.title }}</h1>
          <h3>{{ event.date.strftime('%A %Y-%m-%d') }} {{ event.date.strftime('%I:%M %p') }} - {{ event.end.strftime('%I:%M %p') }}</h2>
          {% if event.subtitle %}
            Subtitle: {{ event.subtitle }}<br />
          {% endif %}
          Location Name: {{ event.location_name }}<br />
          {% if event.location_type %}
            Location Type: {{ event.location_type }}<br />
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
